<div class="container">
  <div class="row my-4">
    <div class="col">
      <div class="jumbotron">
        <div class="input-group">
          <div class="input-group-prepend">
            <div [formGroup]="formGroup">
              <div class="row">
                <select class="form-select" aria-label="Default select example">
                  <option selected>Seleccionar Estación</option>
                  <option value="1">Estación 1</option>
                  <option value="2">Estación 2</option>
                  <option value="3">Estación 3</option>
                </select>
                <span style="padding-left:20px"></span>
                <select class="form-select" aria-label="Default select example">
                  <option selected>Seleccionar Sensor</option>
                  <option value="1">Sensor 1</option>
                  <option value="2">Sensor 2</option>
                  <option value="3">Sensor 3</option>
                  <option value="4">Sensor 4</option>
                </select>
                <span style="padding-left:20px"></span>
                <mat-form-field>
                  <input matInput [ngxMatDatetimePicker]="datepicker" placeholder="Seleccionar fecha y hora"
                    formControlName="date">
                  <mat-datepicker-toggle matSuffix [for]="datepicker"></mat-datepicker-toggle>
                  <ngx-mat-datetime-picker #datepicker></ngx-mat-datetime-picker>
                </mat-form-field>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row my-4">
    <div class="col">
      <img [src]="imagen" />
    </div>
  </div>
</div>
