<div class="container">
  <div class="row my-4">
    <div class="col">
      <div class="jumbotron">
        <div class="input-group">
          <div class="input-group-prepend">
            <div [formGroup]="formGroup">
              <div class="row">
                <select (change)="selectChangeHandler1($event)">
                  <option selected value="ise1">ISE1</option>
                  <option value="ise2">ISE2</option>
                  <option value="e1ms1">E1MS1</option>
                </select>
                <span style="padding-left:20px"></span>
                <select (change)="selectChangeHandler2($event)">
                  <option selected value="1">Sensor 1</option>
                  <option value="2">Sensor 2</option>
                  <option value="3">Sensor 3</option>
                </select>
                <span style="padding-left:20px"></span>
                <mat-form-field>
                  <input matInput [ngxMatDatetimePicker]="datepicker2" placeholder="Seleccionar fecha fin y hora"
                    formControlName="date_fin" (ngModelChange)="selectChangeHandler4($event)">
                  <mat-datepicker-toggle matSuffix [for]="datepicker2"></mat-datepicker-toggle>
                  <ngx-mat-datetime-picker #datepicker2></ngx-mat-datetime-picker>
                </mat-form-field>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row y-4">
    <div class="col text-center">
      <img img-fluid src="{{imgUrl}}"/>
    </div>
  </div>
</div>
