<div class="content">
  <br>
  <button id="btnParar" type="button" class="btn btn-danger invisible" *ngIf="timerOn; else elseBlock" (click)="toggleTimer()">Parar</button>
  <ng-template #elseBlock><button id="btnIniciar" type="button" class="btn btn-success invisible" (click)="toggleTimer()">Iniciar</button></ng-template>
  <highcharts-chart
    style="width: 100%; display: block"
    [Highcharts]="Highcharts"
    [constructorType]="'stockChart'"
    [options]="chartOptionsEstacion1"
  >
  </highcharts-chart>

  <highcharts-chart
    style="width: 100%; display: block"
    [Highcharts]="Highcharts"
    [constructorType]="'stockChart'"
    [options]="chartOptionsEstacion2"
  >
  </highcharts-chart>

  <highcharts-chart
    style="width: 100%; display: block"
    [Highcharts]="Highcharts"
    [constructorType]="'stockChart'"
    [options]="chartOptionsEstacion3"
  >
  </highcharts-chart>
  <div class="row my-4">
    <div class="col">
      <img class="img-fluid" [src]="imagen" />
    </div>
  </div>
</div>
