<div class="content">
  <br>
  <div *ngIf="yaEmpezo == true; else else2">
    <button id="btnParar" type="button" class="btn btn-danger" *ngIf="timerOn == true; else elseBlock" (click)="toggleTimer()">Parar</button>
    <ng-template #elseBlock><button id="btnIniciar" type="button" class="btn btn-success" (click)="toggleTimer()">Iniciar</button></ng-template>
  </div>
  <ng-template #else2></ng-template>
  <highcharts-chart
    style="width: 100%; display: block"
    [Highcharts]="Highcharts"
    [constructorType]="'stockChart'"
    [options]="chartOptionsEstacion1"
  >
  </highcharts-chart>

  <highcharts-chart
    style="width: 100%; display: block"
    [Highcharts]="Highcharts"
    [constructorType]="'stockChart'"
    [options]="chartOptionsEstacion2"
  >
  </highcharts-chart>

  <highcharts-chart
    style="width: 100%; display: block"
    [Highcharts]="Highcharts"
    [constructorType]="'stockChart'"
    [options]="chartOptionsEstacion3"
  >
  </highcharts-chart>
  <div class="row y-4">
    <div class="col text-center">
      <h3>Última Foto</h3>
    </div>
  </div>
  <div class="row y-4">
    <div class="col text-center">
      <img class="img-fluid" src="{{imgUrl}}" (error)="imgErr()"/>
    </div>
  </div>
</div>
